.ok, .navigate {
  color: #29c173;
  font-size: 13px;
  animation: fadeIn 0.5s ease;
}
.error {
  color: var(--danger);
  font-size: 13px;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}